body {
    background-color: white; 
}

body {
    padding: 0; 
    margin: 0; 
}

/* MARK: Gallery */ 
.gallery {
    position: relative; 
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    align-items: center; 
}

.gallery div {
    position: absolute;
    top:50%; left:50%;

    perspective: 1050px;
}

.gallery img {
    position: absolute; 
    top: calc(25vh / -2); 
    left: calc(30vw / -2); 

    width: 30vw; 
    height: 25vh; 
    object-fit: cover;
}

.gallery img:nth-of-type(1) {
    transform: translateX(-1080px) translateZ(220px) rotateY(34deg); 
}

.gallery img:nth-of-type(2) {
    transform: translateX(-700px) translateZ(150px) rotateY(48deg); 
}

.gallery img:nth-of-type(3) {
    transform: translateX(-360px) translateZ(-60px) rotateY(54deg); 
}

.gallery img:nth-of-type(4) {
    transform: translateX(0px) translateZ(-300px) rotateY(0deg); 
}

.gallery img:nth-of-type(5) {
    transform: translateX(360px) translateZ(-60px) rotateY(-54deg); 
}

.gallery img:nth-of-type(6) {
    transform: translateX(700px) translateZ(150px) rotateY(-48deg); 
}

.gallery img:nth-of-type(7) {
    transform: translateX(1080px) translateZ(220px) rotateY(-34deg); 
}



/* .gallery {
    position: relative; 
    height: 100vh; 
    width: 100vw; 
    display: flex;
    align-items: center;

    overflow-x: scroll; 
    overflow-y: hidden; 
    scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery div {
    width: max-content; 
    display: flex; 
    flex-direction: row;
    gap: 10vw;
    flex: 0 0 auto;
}

.gallery img {
    object-fit: cover;  
    height: 25vh; 
    width: 40vw;

    flex: 0 0 auto; 
} */

/* .gallery {
    position: relative; 
    overflow: hidden; 
    height: 100vh; 

    display: flex; 
    justify-content: center;
    align-items: center;

    perspective: 1050px;
}

.gallery div {
    display: flex; 
    flex-direction: row; 

    transform-style:preserve-3d;
}

.gallery img {
    height: 50vh; 
    width: 50vw; 

    object-fit: cover;
    user-select:none;
    transition:transform .6s cubic-bezier(.22,.61,.36,1), opacity .5s ease
} */